<body>

    <div class="wrapper">
        <div class="opacity"></div>
        <div class="gravity" style="padding-top: 5%">
            <div class="container">
                <div class=" row">
                    <div class="col-md-12">
                        <img class="logo" src="../../../assets/images/tupaka.png" alt="Gravity">
                        <h2>EN CONSTRUCCION</h2>

                        <P>ESTA SECCION ESTARA LISTA PRONTO</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="email">
            <div class="container">
                <div class=" row">
                    <div class="col-md-12">
                        <p>NOTIFY ME WHEN IT’S READY</p>

                        <form action="#" method="post">
                            <input type="email" placeholder="Enter Your Email Adress">
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-icon">
            <div class="container">
                <div class=" row">
                    <div class="col-md-12">
                        <div class="icon">
                            <a href="https://www.facebook.com/cajonestupaka/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/tupaka_percusion/"><i class="fa fa-instagram"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=543515212313&text=&source=&data=&app_absent="><i
                                    class="fa fa-whatsapp"></i></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <script src="../../../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/jquery.countdown.js"></script>
    <script src="../../../assets/js/active.js"></script> -->
</body>