<section id="gtco-contact" data-section="practice-areas">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>CATÁLOGO</h1>
                <p class="sub">Catálogo completo de instrumentos con fotos y descripción para cada modelo.
                    Elegí
                    el modelo y accedé al link de compra.</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">CATÁLOGO</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-push-6 animate-box">
                <!-- Cajon Estandar -->
                <div *ngFor="let product of htmlLeftProducts; index as i" class="divArticulo animate-box"
                    style="opacity: 1 !important;">
                    <div class="row team-item gtco-team-reverse">
                        <div class="col-md-6 col-md-push-7 animate-box padding-top-img"
                            data-animate-effect="fadeInRight" style="opacity: 1 !important;">
                            <div class="img-shadow" style="border-radius: 10px;">
                                <div class="contenedorArticulo">
                                    <img [src]="product.imagenSrc" class="img-responsive imageLogo"
                                        style="border-radius: 10px;">
                                    <div *ngIf="product.imagenSrc != 'assets/images/unnamed.jpg'"
                                        class="descripcionArticulo">
                                        <h5 style="cursor: pointer;"><a
                                                (click)="selectProductPictures(product.id_producto)">Ver más fotos</a>
                                        </h5>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6  col-md-pull-6 animate-box" style="opacity: 1 !important;"
                            data-animate-effect="fadeInRight">
                            <h2 class="tituloCatalogo" style="margin-bottom: 0%">{{product.nombre}} <p
                                    class="stockProduct">Stock: {{product.stock}} unidades</p>
                            </h2>
                            <p class="fino parrafoCatalogo">{{product.descripcion}}
                                <br /><br /><b class="negrita">Medidas: </b> {{product.alto}}cm de alto.
                                {{product.ancho}}cm de ancho y {{product.profundidad}}cm de
                                profundidad
                                <br /><b class="precio">${{product.precio}}</b> <button [ngClass]="{'quitarCarrito': product.isInMarket === 1}"
                                    class="btnCarrito btn btn-primary" (click)="addToOder(product, 'htmlLeftProducts', i)">
                                    <a class="hrefCarrito" [id]="'btn-' + product.id_producto">{{product.isInMarketText}} <img src="assets/images/carrito.png"
                                            class="iconoCarrito"></a></button>
                            </p>

                        </div>
                    </div>

                </div>

            </div>


            <div class="col-md-6 col-md-pull-6 animate-box">
                <!-- Cajon Mediano -->
                <div *ngFor="let product of htmlRightProducts; index as i" class="divArticulo animate-box"
                    style="opacity: 1 !important;">
                    <div class="row team-item gtco-team">
                        <div class="col-md-6 col-md-pull-1 animate-box padding-top-img" data-animate-effect="fadeInLeft"
                            style="opacity: 1 !important;">
                            <div class="img-shadow" style="border-radius: 10px;">
                                <div class="contenedorArticulo">
                                    <img [src]="product.imagenSrc" class="img-responsive imageLogo"
                                        style="border-radius: 10px;">
                                    <div *ngIf="product.imagenSrc != 'assets/images/unnamed.jpg'"
                                        class="descripcionArticulo">
                                        <h5 style="cursor: pointer;"><a
                                                (click)="selectProductPictures(product.id_producto)">Ver más fotos</a>
                                        </h5>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft"
                            style="opacity: 1 !important;">
                            <h2 class="tituloCatalogo" style="margin-bottom: 0%">{{product.nombre}} <p
                                    class="stockProduct">Stock: {{product.stock}} unidades</p>
                            </h2>
                            <p class="fino parrafoCatalogo parrafoCatalogo">{{product.descripcion}}
                                <br /><br /><b class="negrita">Medidas: </b> {{product.alto}}cm de alto.
                                {{product.ancho}}cm de ancho y {{product.profundidad}}cm de
                                profundidad
                                <br /><b class="precio">${{product.precio}}</b> <button [ngClass]="{'quitarCarrito': product.isInMarket === 1}"
                                    class="btnCarrito btn btn-primary" (click)="addToOder(product, 'htmlRightProducts', i)">
                                    <a class="hrefCarrito" [id]="'btn-' + product.id_producto">{{product.isInMarketText}} <img src="assets/images/carrito.png"
                                            class="iconoCarrito"></a></button>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Diseños personalizados-->
                <div class="divArticulo animate-box">
                    <div class="row team-item gtco-team">
                        <div class="col-md-6 col-md-pull-1 animate-box padding-top-img" data-animate-effect="fadeInLeft"
                            style="opacity: 1 !important;">
                            <div class="img-shadow" style="border-radius: 10px;">
                                <div class="contenedorArticulo">
                                    <img src="assets/images/diseno.png" class="img-responsive imageLogo"
                                        style="border-radius: 10px;">
                                    <div class="descripcionArticulo">
                                        <h5 style="cursor: pointer;"><a (click)="selectProductPictures(0)">Ver más
                                                fotos</a></h5>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft"
                            style="opacity: 1 !important;">
                            <h2 class="tituloCatalogo">Diseños personalizados</h2>
                            <p class="fino parrafoCatalogo">Te ofrecemos la posibilidad de <b
                                    class="negrita">personalizar tu
                                    intrumento</b>, haciendo que sea
                                unico y original. Elaboramos tu diseño, frase o imagen que más te guste y podes elegir
                                dentro de la gama de colores que trabajamos.
                                <br /><b class="precio">Desde $500</b> <button class="btnCarrito btn btn-primary">
                                    <a href="https://api.whatsapp.com/send?phone=543515212313&text=&source=&data=&app_absent=" class="hrefCarrito">Presupuestar diseño</a></button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div id="morePicturesModal" class="modalmask1">
                <div class="modalbox1"
                    style="text-align: center; align-items: center; vertical-align: middle; padding: 0.1%;">
                    <a href="#close" title="Close" class="close1">X</a>
                    <section class="gallery">
                        <div *ngFor="let pictureSrc of productPicturesSrc; index as i" class="gallery__item">
                            <input type="radio" [id]="'img-' + i" [attr.checked]="i == 0 ? '' : null" name="gallery"
                                class="gallery__selector" />
                            <img class="gallery__img" [src]="pictureSrc" alt="" />
                            <label [for]="'img-' + i" class="gallery__thumb"><img style="width: 100px;"
                                    [src]="pictureSrc" alt="" /></label>
                        </div>
                    </section>

                </div>
            </div>

            <div id="morePicturesDesignModal" class="modalmask1">
                <div class="modalbox1"
                    style="text-align: center; align-items: center; vertical-align: middle; padding: 0.1%;">
                    <a href="#close" title="Close" class="close1">X</a>
                    <section class="gallery">
                        <div class="gallery__item">
                            <input type="radio" id="'img-1" checked name="gallery" class="gallery__selector" />
                            <img class="gallery__img" src="assets/images/diseno.png" alt="" />
                            <label for="'img-1" class="gallery__thumb"><img style="width: 100px;"
                                    src="assets/images/diseno.png" alt="" /></label>
                        </div>
                        <div class=" gallery__item">
                                <input type="radio" id="'img-2" name="gallery" class="gallery__selector" />
                                <img class="gallery__img" src="assets/images/diseno.png" alt="" />
                                <label for="'img-2" class="gallery__thumb"><img style="width: 100px;"
                                        src="assets/images/diseno.png" alt="" /></label>
                        </div>
                        <div class="gallery__item">
                            <input type="radio" id="'img-3" name="gallery" class="gallery__selector" />
                            <img class="gallery__img" src="assets/images/diseno.png" alt="" />
                            <label for="'img-3" class="gallery__thumb"><img style="width: 100px;"
                                    src="assets/images/diseno.png" alt="" /></label>
                        </div>
                        <div class="gallery__item">
                            <input type="radio" id="'img-4" name="gallery" class="gallery__selector" />
                            <img class="gallery__img" src="assets/images/diseno.png" alt="" />
                            <label for="'img-4" class="gallery__thumb"><img style="width: 100px;"
                                    src="assets/images/diseno.png" alt="" /></label>
                        </div>
                        <div class="gallery__item">
                            <input type="radio" id="'img-5" name="gallery" class="gallery__selector" />
                            <img class="gallery__img" src="assets/images/diseno.png" alt="" />
                            <label for="'img-5" class="gallery__thumb"><img style="width: 100px;"
                                    src="assets/images/diseno.png" alt="" /></label>
                        </div>
                    </section>

                </div>
            </div>

        </div>
    </div>
</section>