<section id="gtco-hero" class="gtco-cover" style="background-image: url(../../../assets/images/banner-min.png)"
data-section="home" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-0 text-center">
      <div class="display-t">
        <div class="display-tc">

          <h1 class="animate-box" data-animate-effect="fadeIn">
            <img src="assets/images/tupaka.png" alt="">
            <br /><strong>Tupaka Virtual</strong><br /><br />Una solución
            mediante la cual puedes comprar tu instrumento por la web y recibirlo en tu casa
            <br /><br />
            <img src="assets/images/tarjetas.png" style="filter: brightness(85%);" alt="">
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- ¿COMO FUNCIONA? -->
<section id="gtco-about1">
<h1>↓ Cómo funciona ↓</h1>
</section>
<section id="gtco-about" data-section="about">
<div class="container">
  <div class="row row-pb-md">
    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
      <h1>3 PASOS</h1>
      <p class="sub">Pedí tu instrumento</p>
      <p class="subtle-text animate-box" data-animate-effect="fadeIn">TUPAKA</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
      <img src="assets/images/1.png" class="img-responsive img-comoFunciona"
        alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
    </div>
    <div class="col-md-6 animate-box align-middle" data-animate-effect="fadeInLeft">
      <h2 class="heading-colored">Elegir instrumento</h2>
      <p style="text-align: justify;">Te ofrecemos a continuación nuestro catálogo de instrumentos con
        sus correspondientes
        especificaciones, fotos y video de demostración</p>
      <p><a href="#gtco-our-team" class="read-more">Ir al catálogo <i
            class="icon-chevron-right"></i></a></p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
      <img src="assets/images/2.png" class="img-responsive img-comoFunciona"
        alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
    </div>
    <div class="col-md-6 animate-box align-middle" data-animate-effect="fadeInLeft">
      <h2 class="heading-colored">Realizar el pago</h2>
      <p style="text-align: justify;">Comprá el instrumento mediante cualqueira de las posibles formas
        de pago que ofrece
        MercadoPago</p>
      <p><a href="#modalFormasPago" class="read-more">Ver formas de pago disponibles actualmente <i
            class="icon-chevron-right"></i></a></p>
    </div>
  </div>
  <div id="modalFormasPago" class="modalmask">
    <div class="modalbox" style="text-align: center; align-items: center; vertical-align: middle;">
      <a href="#close" title="Close" class="close">X</a>
      <img style="max-width: 95%; max-height: 95%; margin-top:1%; vertical-align: middle; border-radius: 25px; text-align: center; align-items: center;"
        src="assets/images/formarPago.png">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
      <img src="assets/images/3.png" class="img-responsive img-comoFunciona"
        alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
    </div>
    <div class="col-md-6 animate-box align-middle" data-animate-effect="fadeInLeft">
      <h2 class="heading-colored">Acordar la forma de envío</h2>
      <p style="text-align: justify;">Acordá la forma de envío comunicandote con Tupaka. Puedes
        hacerlo abriendo un chat por
        whatsapp, o llamando a nuestro teléfono de contacto</p>
      <p><a class="read-more">* El monto correspondiente al envío no está incluido en el pago, éste
          dependerá de la forma de envío acordada</a></p>
    </div>
  </div>
</div>
</section>

<!-- CATALOGO -->
<section id="gtco-our-team" data-section="practice-areas">
<div class="container">
  <div class="row row-pb-md">
    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
      <h1>CATÁLOGO</h1>
      <p class="sub">Catálogo completo de instrumentos con fotos y descripción para cada modelo.
        Elegí
        el modelo y accedé al link de compra.</p>
      <p class="subtle-text animate-box" data-animate-effect="fadeIn">CATÁLOGO</p>
    </div>
  </div>

  <!-- Cajon Estandar -->
  <div class="row team-item gtco-team-reverse">
    <div class="col-md-6 col-md-push-7 animate-box padding-top-img" data-animate-effect="fadeInRight">
      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/standar.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
      <h2>Cajón afrorumba tamaño estandar</h2>
      <p class="fino">Cajón Dual <b class="negrita">flamenco/peruano</b>, con tapa de percusión de
        contrachapado de maderas selectas (roble, cedro, petiribi, araucaria, guatmbu) de 4mm de
        espesor, calibrada con regulación de agudos. estructura del cuerpo del cajón de Tablero
        Densidad Media de 12mm, con diseños y colores que lo hacen único en su estilo.
        <br />Con <b class="negrita">regulación externa de bordonas</b> de 32 hilos, que permite
        utilizar cualquiera de las dos maneras de toque (flamenco o peruano), aportando mayor
        diversidad de sonidos al ejecutante.
        Con un bajo profundo y envolvente con el chasquido característico del “Cajón Peruano” y un
        Flamenco emitiendo un enriquecedor sonido que fascina tanto en ambientes al aire libre, como
        grabación y estudio, con o sin micro el instrumento nos deleita por su virtuosismo.
        <br /><br /><b class="negrita">Medidas: </b> 49cm de alto. 30cm de ancho y 31cm de
        profundidad
        <br /><b class="precio">$4200</b></p>

      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y más fotos<i style="color: rgb(109, 22, 0) !important;"
            class="icon-chevron-right"></i></a></p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/21341bb6-42bd-4783-a6c8-567db0bd1b62/payment-option-form/?preference-id=119459782-f883caed-0181-4129-8b56-3d52d9b8e75d&p=a1cb0b147e886fae83f0f1e6064cff3e#/"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <div id="modalStandar" class="modalmask">
    <div class="modalbox">
      <a href="#close" title="Close" class="close">X</a>
      <div class="gallery-section animate-box" data-animate-effect="fadeIn">
        <div class="gallery">
          <a href="../../../assets/images/junior.png" class="image">
            <img src="assets/images/junior.png" alt="">
          </a>
          <a href="../../../assets/images/galeria6.png" class="image">
            <img src="assets/images/galeria6.png" alt="">
          </a>
          <a href="../../../assets/images/bongo.png" class="image">
            <img src="assets/images/bongo.png" alt="">
          </a>
          <a href="../../../assets/images/galeria20.png" class="image">
            <img src="assets/images/galeria20.png" alt="">
          </a>
          <a href="../../../assets/images/grande.png" class="image">
            <img src="assets/images/grande.png" alt="">
          </a>
          <a href="../../../assets/images/galeria23.png" class="image">
            <img src="assets/images/galeria23.png" alt="">
          </a>
          <a href="../../../assets/images/diseno.png" class="image">
            <img src="assets/images/diseno.png" alt="">
          </a>
          <a href="../../../assets/images/galeria21.png" class="image">
            <img src="assets/images/galeria21.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Cajon Mediano -->
  <div class="row team-item gtco-team">
    <div class="col-md-6 col-md-pull-1 animate-box padding-top-img" data-animate-effect="fadeInLeft">
      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/standar2.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
      <h2>Cajón afrorumba tamaño mediano</h2>
      <p class="fino">Cajón Dual <b class="negrita">flamenco/peruano</b>, con tapa de percusión de
        contrachapado de maderas selectas (roble, cedro, petiribi, araucaria, guatmbu) de 4mm de
        espesor, calibrada con regulación de agudos. estructura del cuerpo del cajón de Tablero
        Densidad Media de 12mm, con diseños y colores que lo hacen único en su estilo.
        <br />Con <b class="negrita">regulación externa de bordonas</b> de 32 hilos, que permite
        utilizar cualquiera de las dos maneras de toque (flamenco o peruano), aportando mayor
        diversidad de sonidos al ejecutante.
        Con graves potentes y profundos y agudos con presencia característico del Cajón Peruano y un
        sonido Flamenco único emitiendo un enriquecedor sonido que fascina tanto en ambientes al
        aire libre, como grabación y estudio, con o sin micro el instrumento nos deleita por su
        virtuosismo.
        <br /><br /><b class="negrita">Medidas: </b> 49cm de alto. 33cm de ancho y 31cm de
        profundidad
        <br /><b class="precio">$4700</b></p>
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/f01ba4c1-c83e-43de-9ecc-43bcbf7e9075/payment-option-form/?preference-id=119459782-0739f2fe-a2ac-476a-a623-3da7d1c9869f&p=a1cb0b147e886fae83f0f1e6064cff3e#/"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <!-- Cajon Grande -->
  <div class="row team-item gtco-team-reverse">

    <div class="col-md-6 col-md-push-7 animate-box padding-top-img" data-animate-effect="fadeInRight">

      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/grande.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
      <h2>Cajón afrorumba tamaño grande</h2>
      <p class="fino">Cajón Dual <b class="negrita">flamenco/peruano</b>, con tapa de percusión de
        contrachapado de maderas selectas (roble, cedro, petiribi, araucaria, guatmbu) de 4mm de
        espesor, calibrada con regulación de agudos. estructura del cuerpo del cajón de Tablero
        Densidad Media de 12mm, con diseños y colores que lo hacen único en su estilo.
        <br />Con <b class="negrita">regulación externa de bordonas</b> de 32 hilos, que permite
        utilizar cualquiera de las dos maneras de toque (flamenco o peruano), aportando mayor
        diversidad de sonidos al ejecutante.
        Con graves potentes y profundos y agudos con presencia característico del Cajón Peruano y un
        sonido Flamenco único emitiendo un enriquecedor sonido que fascina tanto en ambientes al
        aire libre, como grabación y estudio, con o sin micro el instrumento nos deleita por su
        virtuosismo.
        <br /><br /><b class="negrita">Medidas: </b> 49cm de alto. 35cm de ancho y 31cm de
        profundidad
        <br /><b class="precio">$5100</b></p>
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/590b9773-76cd-4abb-b7eb-d1faed5041e2/payment-option-form/?preference-id=119459782-1370005e-c085-40dc-a6ff-db7c00fc56b4&p=a1cb0b147e886fae83f0f1e6064cff3e"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <!-- Conga -->
  <div class="row team-item gtco-team">
    <div class="col-md-6 col-md-pull-1 animate-box padding-top-img" data-animate-effect="fadeInLeft">
      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/conga.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
      <h2>Conga plana</h2>
      <p class="fino">Un <b class="negrita">instrumento original</b> y llamativo que reproduce los
        tonos de una Conga tradicional con la ventaja de que es fácilmente portable.
        Cuerpo de tablero de densidad media de 9mm y tapa percutiva de contraenchapado de maderas
        seleccionadas (cedro, roble, guatambú, araucaria).
        <br />Puede colocarse sobre las piernas mientras que su correa o strap de seguridad se
        coloca alrededor de la cintura para su sujeción
        <br /><br />Su <b class="negrita">característica más resaltante</b> es que posee dos núcleos
        de doble cara diferentes, de distintas maderas que la dan la posibilidad de varios tonos y
        de tener dos congas en una. Su cubierta brinda un sonido limpio y una excelente proyección.
        Esta Conga es simple, ligera y muy fácil de tocar.
        <br /><br /><b class="negrita">Medidas: </b> 50cm de largo, 25cm de ancho y 20cm de alto.
        <br /><b class="precio">$3800</b></p>
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/a6f59a8f-9e53-4fe3-9791-3febbf815cfe/payment-option-form/?preference-id=119459782-43b28c75-15f8-40b1-9199-17d712d4a191&p=a1cb0b147e886fae83f0f1e6064cff3e#/"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <!-- Bongó -->
  <div class="row team-item gtco-team-reverse">

    <div class="col-md-6 col-md-push-7 animate-box padding-top-img" data-animate-effect="fadeInRight">

      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/bongo.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
      <h2>Bongó cubano</h2>
      <p class="fino">Sonido único y con la gran virtud de no <b class="negrita">desafinarse
          nunca.</b>
        <br />El bongó, es el instrumento más característico de la música afro-cubana y ha servido
        de acompañamiento para muchos otros estilos musicales como el son, bolero, flamenco, el
        reggae, el rock o el jazz y a acompañado a cientos de percusionistas en un amplio abanico de
        estilos musicales.
        Vos poder ser uno de ellos .
        <br /><br />Cuerpo de tablero de densidad media de 9mm, con tapas variadas de cedro, laurel,
        guatambu, petiribi.
        <br /><br /><b class="negrita">Medidas: </b> 32cm de largo, 19cm de ancho y 17cm de alto.
        <br /><b class="precio">$2200</b></p>
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/4e801661-e0ed-4cf2-a1b7-f497384539e0/payment-option-form/?preference-id=119459782-74efb06b-a573-44cd-ad08-d4ebbf264076&p=a1cb0b147e886fae83f0f1e6064cff3e#/"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <!-- Cajon junior -->
  <div class="row team-item gtco-team">
    <div class="col-md-6 col-md-pull-1 animate-box padding-top-img" data-animate-effect="fadeInLeft">
      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/junior.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
      <h2>Cajón junior</h2>
      <p class="fino">El modelo junior es un cajón dual <b class="negrita">Flamenco/Peruano</b> con
        diseños originales, es ese que estás buscando para inciarte en el mundo de la percusión.

        <br />Cuando te sientes en este cajón y empieces a tocarlo, serás el alma de la fiesta, con
        graves potentes y agudos increíbles.
        <br />Su <b class="negrita">tamaño</b> y su diseño lo hacen muy práctico y cómodo para
        jóvenes con ganas de divertirse y hacerse notar.
        <br /><br />Cuerpo de tablero de densidad media de 9mm y tapa percutiva de contraenchapado
        de maderas seleccionadas (cedro, roble, guatambú, araucaria) de 3mm de espesor, con
        regulación de bordonas que te da la posibilidad de optar por el modo flamenco o peruano, con
        patas antideslizantes y que te brindará siempre los mayores beneficios.
        <br /><br /><b class="negrita">Medidas: </b> 42cm de alto, 27cm de ancho y 25cm de
        profundidad.
        <br /><b class="precio">$3000</b></p>
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/8215abb2-1f45-45b1-952b-23fb957c3a95/payment-option-form/?preference-id=119459782-ca683665-c88e-4b70-8f5e-b9c729868cae&p=a1cb0b147e886fae83f0f1e6064cff3e#/"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <!-- Cajón de viaje -->
  <div class="row team-item gtco-team-reverse">

    <div class="col-md-6 col-md-push-7 animate-box padding-top-img" data-animate-effect="fadeInRight">

      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/viaje.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">
      <h2>Cajón de viaje o mini cajón para niños </h2>
      <p class="fino">El mini cajón o cajón Viajero es un instrumento de <b class="negrita">tamaño
          reducido</b> pensado para niños pero que también para aquellos percusionistas que buscan
        un modelo ligero, que no ocupe espacio. Es ideal para llevar a todos lados.
        Con un sonido potente para su tamaño se hará sentir sin dudas.
        <br />Con diseños originales que lo hacen único en su estilo.
        <br /><br />Cuerpo de tablero de densidad media de 9mm y tapa percutiva de contraenchapado
        de maderas seleccionadas (cedro, roble, guatambú, araucaria) de 3mm de espesor, con
        regulación de bordonas que te da la posibilidad de optar por el modo flamenco o peruano, con
        patas antideslizantes y que te brindará siempre los mayores beneficios.
        Para disfrutar a pleno tus salidas con este pequeñín de la familia Tupaka.
        <br /><br /><b class="negrita">Medidas: </b> 34cm de alto, 24cm de ancho y 21cm de
        profundidad.
        <br /><b class="precio">$2600</b></p>
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://www.mercadopago.com.ar/checkout/v1/redirect/8c50bd9a-f56d-4ee5-981d-e8b6734a3d2c/payment-option-form/?preference-id=119459782-05458d54-39b7-4118-8ad1-93c3756c8c01&p=a1cb0b147e886fae83f0f1e6064cff3e#/"
          style="color:white;">Comprar</a></button>
    </div>
  </div>

  <!-- Diseños personalizados -->
  <div class="row team-item gtco-team">
    <div class="col-md-6 col-md-pull-1 animate-box padding-top-img" data-animate-effect="fadeInLeft">
      <div class="img-shadow" style="border-radius: 10px;">
        <img src="assets/images/diseno.png" class="img-responsive" style="border-radius: 10px;"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
    </div>
    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
      <h2>Diseños personalizados</h2>
      <p class="fino">Te ofrecemos la posibilidad de <b class="negrita">personalizar tu
          intrumento</b>, haciendo que sea
        unico y original. Elaboramos tu diseño, frase o imagen que más te guste y podes elegir
        dentro de la gama de colores que trabajamos.</p>
      <br />
      <p><a style="color: rgb(109, 22, 0) !important;" href="#modalStandar" class="read-more">Ver
          demostración y
          más fotos
          <i style="color: rgb(109, 22, 0) !important;" class="icon-chevron-right"></i></a>
      </p>
      <button
        style="border-radius: 12px; font-size: 20px; background-color: rgb(109, 22, 0); border-color: rgb(109, 22, 0) !important;"
        class="btn btn-primary"><a
          href="https://api.whatsapp.com/send?phone=543515212313&text=&source=&data=&app_absent="
          style="color:white;">Presupuestá tu diseño</a></button>
    </div>
  </div>
</div>
</section>

<!-- GALERIA -->
<section id="gtco-practice-areas" data-section="our-team">
<div class="container" style="margin-bottom: 50px">
  <div class="row row-pb-md">
    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn"
      style="margin-bottom: 50px">
      <h1 style="color: rgb(236, 236, 236) !important;">GALERÍA</h1>
      <p style="color: rgb(236, 236, 236) !important;" class="sub">Fotos y videos de nuestros
        modelos.
        Hacé click sobre la foto para acercar.</p>
      <p style="color: rgba(80, 80, 80, 0.493) !important;" class="subtle-text animate-box"
        data-animate-effect="fadeIn">GALERÍA<span>TUPAKA</span></p>
    </div>
  </div>
  <div class="gallery-section animate-box" data-animate-effect="fadeIn">
    <div class="gallery">
      <a href="../../../assets/images/galeria24.png" class="image">
        <img src="assets/images/galeria24.png" alt="">
      </a>
      <a href="../../../assets/images/galeria5.png" class="image">
        <img src="assets/images/galeria5.png" alt="">
      </a>
      <a href="../../../assets/images/galeria7.png" class="image">
        <img src="assets/images/galeria7.png" alt="">
      </a>
      <a href="../../../assets/images/galeria1.png" class="image">
        <img src="assets/images/galeria1.png" alt="">
      </a>
      <a href="../../../assets/images/junior.png" class="image">
        <img src="assets/images/junior.png" alt="">
      </a>
      <a href="../../../assets/images/galeria6.png" class="image">
        <img src="assets/images/galeria6.png" alt="">
      </a>
      <a href="../../../assets/images/bongo.png" class="image">
        <img src="assets/images/bongo.png" alt="">
      </a>
      <a href="../../../assets/images/galeria20.png" class="image">
        <img src="assets/images/galeria20.png" alt="">
      </a>
      <a href="../../../assets/images/grande.png" class="image">
        <img src="assets/images/grande.png" alt="">
      </a>
      <a href="../../../assets/images/galeria23.png" class="image">
        <img src="assets/images/galeria23.png" alt="">
      </a>
      <a href="../../../assets/images/diseno.png" class="image">
        <img src="assets/images/diseno.png" alt="">
      </a>
      <a href="../../../assetsimages/galeria21.png" class="image">
        <img src="assets/images/galeria21.png" alt="">
      </a>
    </div>
  </div>
</div>
</section>

<!-- CONTACTO -->
<section id="gtco-contact" data-section="contact">
<div class="container">
  <div class="row row-pb-md">
    <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
      <h1>¡Nos mantengamos en contacto!</h1>
      <p class="sub">Te responderemos a la brevedad.</p>
      <p class="subtle-text animate-box" data-animate-effect="fadeIn">CONTACTO</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-push-6 animate-box">
      <form action="#">
        <div class="form-group">
          <label for="name" class="sr-only">Name</label>
          <input type="text" class="form-control" placeholder="Nombre" id="name">
        </div>
        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input type="text" class="form-control" placeholder="Email" id="email">
        </div>
        <div class="form-group">
          <label for="message" class="sr-only">Message</label>
          <textarea name="message" id="message" class="form-control" cols="30" rows="7"
            placeholder="Mensaje"></textarea>
        </div>
        <div class="form-group">
          <input style="border-radius: 12px; font-size: 20px;" type="submit" value="Enviar"
            class="btn btn-primary">
        </div>
      </form>
    </div>
    <div class="col-md-4 col-md-pull-6 animate-box">
      <div class="gtco-contact-info">
        <ul>
          <li class="address">Córdoba, Argentina.<br />Paseo de las Artes, esquina Cañada y
            Achaval Rodriguez</li>
          <li class="phone"><a href="tel://3515212313">+54 9 351 155212313</a></li>
          <br />
          <li style="text-align: left;"><img src="assets/images/facebook.png" alt=""
              style="margin-right: 10px;"><a
              href="https://www.facebook.com/cajonestupaka/">facebook.com/cajonestupaka</a>
          </li>
          <li style="text-align: left;"><img src="assets/images/instagram.png" alt=""
              style="margin-right: 10px;"><a
              href="https://www.instagram.com/tupaka_percusion/">instagram.com/tupaka_percusion</a>
          </li>
          <li style="text-align: left;"><img src="assets/images/whatsapp.png" alt=""
              style="margin-right: 10px;"><a
              href="https://api.whatsapp.com/send?phone=543515212313&text=&source=&data=&app_absent=">Whatsapp/tupaka_percusion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>