<section id="gtco-contact" data-section="contact">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                <h1>LOGIN</h1>
                <p class="sub">¡Ingresá para poder realizar tu pedido!</p>
                <p class="subtle-text animate-box" data-animate-effect="fadeIn">LOGIN</p>
            </div>
        </div>
        <div class="row">
            <form action="#" [formGroup]="this.formLogin">
                <div class="animate-box">
                    <div class="form-group">
                        <div class="centerDiv" style="margin-top: -5%">
                            <i class="fas fa-user icono_login"></i> <label for="username">Usuario</label><br/>
                            <input type="text" style="width:300px;height:40px" class="form-control"
                                placeholder=" Ingresa tu email" formControlName="email">
                            <div *ngIf="this.formLogin.get('email')?.errors && this.formLogin.get('email')?.dirty">
                                <p class="campos_obligatorios"
                                    *ngIf="this.formLogin.get('email')?.hasError('required')">El
                                    campo es obligatorio</p>
                                <p class="campos_obligatorios" *ngIf="this.formLogin.get('email')?.hasError('email')">
                                    Debe
                                    ingresar un Email verdadero</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="centerDiv">
                            <i class="fas fa-lock icono_login"></i><label for="password">Contraseña</label><br/>
                            <input type="text" style="width:300px;height:40px" class="form-control"
                                placeholder=" Ingresa tu contraseña" formControlName="password">
                            <div
                                *ngIf="this.formLogin.get('password')?.errors && this.formLogin.get('password')?.dirty">
                                <p class="campos_obligatorios"
                                    *ngIf="this.formLogin.get('password')?.hasError('required')">
                                    El campo es obligatorio</p>
                            </div>
                            <div>
                                ¿Aún no tenés cuenta? <a href="/signUp">Registrate aquí</a><br/><br/>
                            </div>
                            <input style="border-radius: 8px; font-size: 20px;" type="submit" value="Ingresar" class="btn btn-primary"
                            (click)="login()" [disabled]="formLogin.invalid">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>