<section id="gtco-hero" class="gtco-cover" style="background-image: url(../../../assets/images/banner-min.png)"
  data-section="home" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc">

            <h1 class="animate-box" data-animate-effect="fadeIn">
              <img src="assets/images/tupaka.png" alt="">
              <br /><strong>Tupaka Virtual</strong><br /><br />Una solución
              mediante la cual puedes comprar tu instrumento por la web y recibirlo en tu casa
              <br /><br />
              <img src="assets/images/tarjetas.png" style="filter: brightness(85%);" alt="">
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ¿COMO FUNCIONA? -->
<section id="gtco-about1">
  <h1>↓ Cómo funciona ↓</h1>
</section>
<section id="gtco-about" data-section="about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>3 PASOS</h1>
        <p class="sub">Pedí tu instrumento</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">TUPAKA</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <img src="assets/images/1.png" class="img-responsive img-comoFunciona"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
      <div class="col-md-6 animate-box align-middle" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">Elegir instrumento</h2>
        <p style="text-align: justify;">Te ofrecemos a continuación nuestro catálogo de instrumentos con
          sus correspondientes
          especificaciones, fotos y video de demostración</p>
        <p><a href="#gtco-our-team" class="read-more">Ir al catálogo <i class="icon-chevron-right"></i></a></p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <img src="assets/images/2.png" class="img-responsive img-comoFunciona"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
      <div class="col-md-6 animate-box align-middle" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">Realizar el pago</h2>
        <p style="text-align: justify;">Comprá el instrumento mediante cualqueira de las posibles formas
          de pago que ofrece
          MercadoPago</p>
        <p><a href="#modalFormasPago" class="read-more">Ver formas de pago disponibles actualmente <i
              class="icon-chevron-right"></i></a></p>
      </div>
    </div>
    <div id="modalFormasPago" class="modalmask">
      <div class="modalbox" style="text-align: center; align-items: center; vertical-align: middle;">
        <a href="#close" title="Close" class="close">X</a>
        <img
          style="max-width: 95%; max-height: 95%; margin-top:1%; vertical-align: middle; border-radius: 25px; text-align: center; align-items: center;"
          src="assets/images/formarPago.png">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <img src="assets/images/3.png" class="img-responsive img-comoFunciona"
          alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
      </div>
      <div class="col-md-6 animate-box align-middle" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">Acordar la forma de envío</h2>
        <p style="text-align: justify;">Acordá la forma de envío comunicandote con Tupaka. Puedes
          hacerlo abriendo un chat por
          whatsapp, o llamando a nuestro teléfono de contacto</p>
        <p><a class="read-more">* El monto correspondiente al envío no está incluido en el pago, éste
            dependerá de la forma de envío acordada</a></p>
      </div>
    </div>
  </div>
</section>

<app-market></app-market>

<!-- GALERIA -->
<section id="gtco-practice-areas" data-section="our-team" style="padding-bottom: 1em;">
  <div class="container" style="margin-bottom: 50px">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn"
        style="margin-bottom: 50px">
        <h1 style="color: rgb(236, 236, 236) !important;">¡Nos mantengamos en contacto!</h1>
        <p style="color: rgb(236, 236, 236) !important;" class="sub">Te responderemos a la brevedad.</p>
      </div>
    </div>
  </div>
</section>

<!-- CONTACTO -->
<section id="gtco-contact" data-section="contact">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>CONTACTO</h1>
                <p class="sub">Contactanos por nuestros teléfonos y redes sociales</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">CONTACTO</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-push-6 animate-box">
        <form action="#">
          <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" placeholder="Nombre" id="name">
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input type="text" class="form-control" placeholder="Email" id="email">
          </div>
          <div class="form-group">
            <label for="message" class="sr-only">Message</label>
            <textarea name="message" id="message" class="form-control" cols="30" rows="7"
              placeholder="Mensaje"></textarea>
          </div>
          <div class="form-group">
            <input style="border-radius: 12px; font-size: 20px;" type="submit" value="Enviar" class="btn btn-primary">
          </div>
        </form>
      </div>
      <div class="col-md-6 col-md-pull-6 animate-box">
        <div class="gtco-contact-info">
          <ul>
            <li class="address">Córdoba, Argentina.<br />Paseo de las Artes, esquina Cañada y
              Achaval Rodriguez</li>
            <li class="phone"><a href="tel://3515212313">+54 9 351 155212313</a></li>
            <br />
            <li style="text-align: left;"><img src="assets/images/facebook.png" alt="" style="margin-right: 10px;"><a
                href="https://www.facebook.com/cajonestupaka/">facebook.com/cajonestupaka</a>
            </li>
            <li style="text-align: left;"><img src="assets/images/instagram.png" alt="" style="margin-right: 10px;"><a
                href="https://www.instagram.com/tupaka_percusion/">instagram.com/tupaka_percusion</a>
            </li>
            <li style="text-align: left;"><img src="assets/images/whatsapp.png" alt="" style="margin-right: 10px;"><a
                href="https://api.whatsapp.com/send?phone=543515212313&text=&source=&data=&app_absent=">Whatsapp/tupaka_percusion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>