<body>
    <!-- Main container -->
    <main class="full-box main-container">
        <app-nav-lateral></app-nav-lateral>

        <section class="full-box page-content">
            <nav class="full-box navbar-info">
                <a href="#" class="float-left show-nav-lateral">
                    <i class="fas fa-exchange-alt"></i>
                </a>
                <a style="margin-right: 1%;" href="#" class="float-left show-nav-lateral" (click)="goToHome()">
                    <strong>INICIO</strong>
                </a>
                <a href="user-update.html">
                    <i class="fas fa-user-cog"></i>
                </a>
                <a>
                    <i (click)="logout()" class="fas fa-power-off"></i>
                </a>
            </nav>
            <!-- Page header -->
            <div class="full-box page-header">
                <h3 class="text-left">
                    <i class="fas fa-sync-alt fa-fw"></i> &nbsp; ACTUALIZAR ITEM
                </h3>
                <p class="text-justify">
                   En la siguiente pantalla vas a poder EDITAR el producto seleccionado previamente. Los cambios se aplican solamente al producto 
                   seleccionado. Es necesario que todos los campos del producto estén completos para poder ACTUALIZAR los cambios. 
                </p>
            </div>
            <div class="container-fluid">
                <ul class="full-box list-unstyled page-nav-tabs">
                    <li>
                        <a class="active" href="/products"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR
                            PRODUCTO</a>
                    </li>
                    <li>
                        <a href="/productsList"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE
                            PRODUCTO</a>
                    </li>
                    <li>
                        <a href="/productsFind"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR PRODUCTO</a>
                    </li>
                </ul>
            </div>

            <!--CONTENT-->
            <div *ngIf="updateProductForm" class="container-fluid">

                <form method="post" class="form-neon" [formGroup]="updateProductForm">
                    <fieldset>
                        <legend><i class="far fa-plus-square text"></i> &nbsp; Información del PRODUCTO</legend>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <input type="text" formControlName="nombre" required
                                            class="form-control text-box" name="nombre" id="nombre">
                                        <label for="item_nombre" class="bmd-label-floating field-titles ">Nombre</label>
                                        <div
                                            *ngIf="this.updateProductForm.get('nombre')?.errors && this.updateProductForm.get('nombre')?.dirty">
                                            <p class="errorForm"
                                                *ngIf="this.updateProductForm.get('nombre')?.hasError('required')">El
                                                nombre es obligatorio</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <input type="num" formControlName="stock" class="form-control text-box"
                                            name="stock" required id="stock">
                                        <label for="item_stock" class="bmd-label-floating field-titles">Stock</label>
                                        <div
                                            *ngIf="this.updateProductForm.get('stock')?.errors && this.updateProductForm.get('stock')?.dirty">
                                            <p class="errorForm"
                                                *ngIf="this.updateProductForm.get('stock')?.hasError('required')">El
                                                stock es obligatorio</p>
                                        </div>
                                        <div
                                            *ngIf="this.updateProductForm.get('stock')?.errors && this.updateProductForm.get('stock')?.dirty">
                                            <p class="errorForm"
                                                *ngIf="this.updateProductForm.get('stock')?.hasError('pattern')">El
                                                stock debe contener sólo numeros</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">

                                        <input type="num" formControlName="precio" required
                                            class="form-control text-box" name="precio" id="precio">
                                        <label for="item_stock" class="bmd-label-floating field-titles">Precio</label>
                                        <div
                                            *ngIf="this.updateProductForm.get('precio')?.errors && this.updateProductForm.get('precio')?.dirty">
                                            <p class="errorForm"
                                                *ngIf="this.updateProductForm.get('precio')?.hasError('required')">El
                                                precio es obligatorio</p>
                                        </div>
                                        <div
                                            *ngIf="this.updateProductForm.get('precio')?.errors && this.updateProductForm.get('precio')?.dirty">
                                            <p class="errorForm"
                                                *ngIf="this.updateProductForm.get('precio')?.hasError('pattern')">El
                                                precio debe contener sólo numeros</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <select formControlName="id_categoria" required class="form-control text-box"
                                            id="formControlSelect1" [(ngModel)]="selectedCategoryId" name="id_categoria"
                                            (change)="onSelect($event.target)">
                                            <option value="" selected="" disabled="">Seleccione una opción</option>
                                            <option *ngFor="let category of categories" value={{category.id_categoria}}>
                                                {{category.nombre}}
                                            </option>
                                        </select>
                                        <label for="item_estado"
                                            class="bmd-label-floating field-titles">Categoria</label>

                                        <div
                                            *ngIf="this.updateProductForm.get('id_categoria')?.errors && this.updateProductForm.get('id_categoria')?.dirty">
                                            <p class="errorForm"
                                                *ngIf="this.updateProductForm.get('id_categoria')?.hasError('required')">
                                                El precio es obligatorio</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">

                                        <select formControlName="id_tamano" required class="form-control text-box"
                                            id="formControlSelect1" [(ngModel)]="selectedSizeId" name="id_tamaño"
                                            (change)="onSelectSize($event.target)">
                                            <option value="" selected="" disabled="">Seleccione una opción</option>
                                            <option *ngFor="let size of sizes" value={{size.id_tamano}}>
                                                {{size.nombre}}
                                            </option>
                                        </select>
                                        <label for="item_estado" 
                                            class="bmd-label-floating field-titles">Tamaño</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="form-group">
                                        <textarea type="text" formControlName="descripcion"
                                            class="form-control text-box text-box-size" required name="descripcion"
                                            id="descripcion"></textarea>
                                        <label for="item_detalle"
                                            class="bmd-label-floating field-titles ">Caracteristicas del
                                            producto</label>
                                    </div>
                                </div>
                                <div class="text-center" style="margin: auto;margin-top: inherit;">
                                    <button type="button" class="btn btn-raised btn-info btn-sm btn-size "
                                        (click)="fileInput.click() "><i class="far fa-save"></i> &nbsp;
                                        ADJUNTAR</button>
                                    <input hidden #fileInput type="file" id="file" (change)="onFileChange($event)"
                                        multiple>
                                    <p *ngFor="let name of fileName">{{name}}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br><br><br>
                    <p class="text-center" style="margin-top:auto;">
                        <button type="reset" class="btn btn-raised btn-secondary btn-sm btn-size"><i
                                class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
                        &nbsp; &nbsp;
                        <!-- <button type="submit" class="btn btn-raised btn-info btn-sm btn-size"
                            (click)="updateProduct()"><i class="far fa-save"></i> &nbsp;
                            GUARDAR</button> -->
                            
                        <button type="submit" class="btn btn-raised btn-success btn-sm btn-size" 
                        (click)="updateProduct()"><i class="fas fa-sync-alt"></i> &nbsp; ACTUALIZAR</button>
                            
                    </p>
                </form>
            </div>
        </section>




    </main>


    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    <!-- <script src="assets/js/main1.js" ></script> -->

</body>