
<body>
    <!-- Main container -->
    <main class="full-box main-container">
        <!-- Nav lateral -->
     <app-nav-lateral></app-nav-lateral>
        <section class="full-box page-content">
            <nav class="full-box navbar-info">
                <a href="#" class="float-left show-nav-lateral">
                    <i class="fas fa-exchange-alt"></i>
                </a>
                <a href="user-update.html">
                    <i class="fas fa-user-cog"></i>
                </a>
                <a href="#" class="btn-exit-system">
                    <i class="fas fa-power-off"></i>
                </a>
            </nav>
            <!-- Page header -->
            <div class="full-box page-header">
                <h3 class="text-left">
                    <i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE PRODUCTO
                </h3>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum delectus eos enim numquam fugit optio accusantium, aperiam eius facere architecto facilis quibusdam asperiores veniam omnis saepe est et, quod obcaecati.
                </p>
            </div>
            <div class="container-fluid">
                <ul class="full-box list-unstyled page-nav-tabs">
                    <li>
                        <a href="/products"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR PRODUCTO</a>
                    </li>
                    <li>
                        <a class="active" href="/productsList"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE PRODUCTO</a>
                    </li>
                    <li>
                        <a href="item-search.html"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR PRODUCTO</a>
                    </li>
                </ul>
            </div>
            
            <!--CONTENT-->
           <div class="container-fluid">
				<div class="table-responsive tamaño-tabla">
                    <table  mat-table [dataSource]="dataSource" class="table table-dark table-sm">

                        <ng-container matColumnDef="id_producto" >
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th">
                                ID
                            </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.id_producto}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="id_categoria">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> CATEGORIA </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.id_categoria}} </td>
                        </ng-container>
                        <!-- 'id_producto', 'id_categoria', 'id_estado', 'id_tamano', 'nombre', 'descripcion', 'precio', 'stock' -->
                        <ng-container matColumnDef="id_estado">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> ESTADO </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.id_estado}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="id_tamano">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> TAMAÑO </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.id_tamano}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> NOMBRE </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.nombre}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> DESCRIPCION </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.descripcion}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="precio">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> PRECIO </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.precio}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef class="text-center roboto-medium table-th"> STOCK </th>
                            <td mat-cell *matCellDef="let product" class="text-center table-td"> {{product.stock}} </td>
                        </ng-container>
                           
                           
                         <!-- <ng-container matColumnDef="Acciones">
                            <th mat-header-cell *matHeaderCellDef
                                style="text-align: center; border-top-right-radius: 20px; border-right: none !important; width: 9% !important;">
                                Acciones </th> -->
                            <!-- <td mat-cell *matCellDef="let user" style="border-radius: 20px; border-right: none !important;"> 
                                <mat-icon (click)="edit(user.id)">edit</mat-icon>
                                <mat-icon (click)="openUserAccount(user.id)">remove_red_eye</mat-icon>
                                <mat-icon (click)="blockUser(user.id)">delete</mat-icon> 
                             </td> -->
                        <!-- </ng-container>  -->
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
    
                    </table>
					<!-- <table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th>#</th>
								<th>CÓDIGO</th>
								<th>NOMBRE</th>
								<th>STOCK</th>
								<th>ACTUALIZAR</th>
								<th>ELIMINAR</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" >
								<td>1</td>
								<td>012342567</td>
								<td>NOMBRE DEL ITEM</td>
								<td>20</td>
								<td>
                                    <a href="item-update.html" class="btn btn-success">
                                        <i class="fas fa-sync-alt"></i> 
                                    </a>
                                </td>
                                <td>
                                    <form action="">
                                        <button type="button" class="btn btn-warning">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
							</tr>
							<tr class="text-center" >
								<td>2</td>
								<td>012342567</td>
								<td>NOMBRE DEL ITEM</td>
								<td>57</td>
								<td>
                                    <a href="item-update.html" class="btn btn-success">
                                        <i class="fas fa-sync-alt"></i> 
                                    </a>
                                </td>
                                <td>
                                    <form action="">
                                        <button type="button" class="btn btn-warning">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
							</tr>
							<tr class="text-center" >
								<td>3</td>
								<td>012342567</td>
								<td>NOMBRE DEL ITEM</td>
								<td>81</td>
								<td>
                                    <a href="item-update.html" class="btn btn-success">
                                        <i class="fas fa-sync-alt"></i> 
                                    </a>
                                </td>
                                <td>
                                    <form action="">
                                        <button type="button" class="btn btn-warning">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
							</tr>
							<tr class="text-center" >
								<td>4</td>
								<td>012342567</td>
								<td>NOMBRE DEL ITEM</td>
								<td>90</td>
								<td>
                                    <a href="item-update.html" class="btn btn-success">
                                        <i class="fas fa-sync-alt"></i> 
                                    </a>
                                </td>
                                <td>
                                    <form action="">
                                        <button type="button" class="btn btn-warning">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
							</tr>
						</tbody>
					</table> -->
				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
        </section>




    </main>
  
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

</body>